body {
  background: rgba(45, 33, 223, 0.589);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  width: 500px;
  box-shadow: 0px 0px 20px rgba(3, 1, 1, 0.884);
  background: rgb(255, 255, 255);

}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

img#imagem {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  
}
input[type=number] {
  -moz-appearance: textfield;
}

div {
  text-align: center;
  padding: 10px;

}
