body {
    background: gray;
}
h1 {
    text-align: center;
    color: white;
}
section {
    width: 400px;
    height: auto;
    background: white;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
}
input[type=number] {
    
}